.home-container {
  text-align: center;

  .home-header {
    background-color: #222;
    height: 150px;
    padding: 20px;

    .home-logo {
      animation: home-logo-spin infinite 20s linear;
      height: 80px;
    }

    h2 {
      color: white;
    }
  }

  .home-intro {
    font-size: large;
  }
}

@keyframes home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}